{
	"$schema": "http://json.schemastore.org/swcrc",
	"module": {
		"noInterop": false,
		"type": "es6",
		"strict": false,
		"strictMode": false
	},
	"env": {
		"forceAllTransforms": true,
		"mode": "entry",
		"loose": true,
		"targets": { "chrome": "74" }
	},
	"jsc": {
		"parser": {
			"syntax": "ecmascript",
			"exportDefaultFrom": true,
			"functionBind": true
		},
		"loose": false,
		"target": "esnext",
		"transform": {}
	}
}
