:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	min-height: 0;
	height: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
html,
body {
	position: absolute;
	inset: 0;
	overflow: hidden;
}
body {
	margin: 0;
	min-width: 320px;
	width: 100%;
	height: 100%;
	/* display: flex; */
	max-width: 100%;
	/* flex-direction: column; */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	/* flex-direction: column; */
	/* max-width: 100%; */
	min-height: 100%;
	height: 100%;
}
#editor {
	/* overflow-y: auto; */
	min-height: 100%;
	max-width: 100%;
	/* height: 100%; */
}
.cm-foldGutter {
	min-width: 1.5rem;
	padding-right: 0rem;
	/* min-width: 2.5rem; */
	/* margin-right: 0.5rem; */
}
.cm-gutters::before {
	position: absolute;
	inset: 0;
	content: "";
	z-index: -1;
	background-color: #1a1a1a36;
}
.cm-gutter:not(.cm-foldGutter) {
	min-width: 2.5rem;
	/* padding-right: 1rem; */
}
.cm-gutterElement {
	color: #929d9d;
	padding-left: 10px;
}
.cm-editor {
	height: 100%;
	max-height: 100%;
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto #ffffff42;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

nav {
	display:grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	height: 100%;
	overflow-x:auto;

}